APP_NAME=LMS API
APP_VERSION=1.0.0
OPENAPI_SERVER_URL=<path to server url>

# Auth
EXTERNAL_AUTH=<bool to decide if auth service is external>
AUTH_URL=<URL to auth service if EXTERNAL_AUTH is true>

# Postgres db
POSTGRES_DATABASE_NAME=<Postgres database name>
POSTGRES_DATABASE_USER=<Postgres database username>
POSTGRES_DATABASE_PASSWORD=<Postgres database password>
POSTGRES_DATABASE_PORT=<Postgres database port>
POSTGRES_DATABASE_HOST=<Postgres database host>
POSTGRES_DATABSE_SCHEMA=<Postgres database schema if needed otherwise dont provide> 

# Mongo
MONGO_DATABASE=<Mongo database name>
MONGO_CONNECTION_URI=<mongo connection string>

# JWT
JWT_SECRET=<JWT randomly generated secret>

# REDIS
REDIS_URI=<Redis connection string>

# SMTP
SMTP_URL=<SMTP URL>
SMTP_PORT=<SMTP port>
SMTP_USERNAME=<Email username>
SMTP_PASSWORD=<Email password>
SMTP_DOMAIN==<Domain to website>

# COMPANY SPECIFIC
COMPANY_NAME=<company name here>
COMPANY_EMAIL=<company email here>
COMPANY_PHONE=<company phone number here>
COMPANY_URL=<url here>
COURSE_PROVIDER_ID=<course provider id>

# TRAINING CONNECT
TRAINING_CONNECT_EMAIL=<training connect email>
TRAINING_CONNECT_PASSWORD=<training connect password>
TRAINING_CONNECT_QUEUE=<pubsub queue name>
TRAINING_CONNECT_CERTIFICATES=<bool to enable/disable training connect certificates upload from lms>
TRAINING_CONNECT_UPDATE_USER=<bool to enable/disable training connect update user in lms>
TRAINING_CONNECT_CREATE_USER=<bool to enable/disable training connect create user from lms>

# PAYPAL
USE_PAYPAL=<bool>
PAYPAL_CLIENT_ID=<paypal client id>
PAYPAL_CLIENT_SECRET=<paypal client secret>

# ENVIRONMENT
ENVIRONMENT=<dev or prod>

# TEXT MESSAGES
8X8_ACCOUNT_ID=<account id of 8x8 account>
8X8_AUTH_TOKEN=<8x8 account auth token>

# NOTIFICATIONS
USE_EMAIL=<bool>
USE_TEXT=<bool>

# LOG ENVIROMENT
LOGGER_NAME=<logger name>
LOG_LEVEL=<log level>

# MONITOR CERTIFICATES FOR UPCOMING EXPIRATIONS
MONITOR_CERTIFICATES=False